<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="solrService" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <solrService>
    <add key="JavaExecutable" value="C:\Program Files (x86)\Java\jre6\bin\java.exe" />
    <add key="WorkingDirectory" value="C:\Solr\apache-solr-4.0\example" />
    <add key="Solr.Home" value="solr" />
    <add key="CommandLineArgs" value="-Djava.util.logging.config.file=logging.properties" />
    <add key="ShowConsole" value="false" />
    <add key="Port" value="8983" />
    <add key="InstanceName" value="MyProjectName" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </solrService>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>